.de-quizz-page {

}

.de-quizz-page__banner {
  display: flex;
  width: 100%;
  height: 277px;
  justify-content: center;
  align-items: center;
  font-size: 39px;
  line-height: 46px;
  color: white;
  margin-bottom: 42px;
  background-size: cover !important;
}

@media (max-width: 768px) {
  .de-quizz-page__banner {
    height: 142px;
    font-size: 19px;
    line-height: 22px;
  }
}

.de-quizz-page__questions {
  display: flex;
  flex-direction: column;
  max-width: 759px;
  gap: 42px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .de-quizz-page__questions {
    gap: 28px;
  }
}

.de-quizz-page__button {
  overflow: hidden;
  border: 0;
  position: relative;
  outline: none;
  cursor: pointer;
  margin: auto;
  background: #EC362D;
  border-radius: 15px;
  max-width: 260px;
  min-width: 220px;
  width: 80%;
  max-height: 52px;
  min-height: 52px;
  text-align: center;
  color: #FFF5F4;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.de-quizz-page__button:after {
  transition: opacity 0.3s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  opacity: 0;
}

.de-quizz-page__button:hover:after {
  opacity: 0.2;
}

@media (max-width: 768px) {
  .de-quizz-page__button {
    max-width: 220px;
    max-height: 44px;
    margin-bottom: 8px;
  }
}

.de-quizz-page__button--plained {
  color: #818181;
  background: inherit;
  margin-bottom: 0;
}
